$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$red-normal: #D80039;
$red-dark: #AC002D;
$red-light: #DB194C;